python-telegram-bot[webhooks]==21.7
openai==1.45.0  # Eng so'nggi versiya
python-dotenv
requests
deep-translator
apscheduler
SpeechRecognition
gTTS
pydub==0.25.1
Pillow
python-pptx
reportlab
httpx  # Maxsus HTTP klienti uchun